<a href="https://colab.research.google.com/github/vincenth38/streamp6/blob/master/Conditional_Resample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# https://www.py4u.net/discuss/251412

import pandas as pd

df = pd.DataFrame({'start': ['1/1/2018'], 
               'end': ['3/15/2019'], 
               'inv date': ['2/1/2018'],
               'spend': [400]})

In [6]:
prd = pd.period_range(df.loc[0, 'start'], df.loc[0, 'end'], freq='D')
prd = pd.Series(1, prd) # empty series to get the number of days in the monthly period
prd = prd.resample('M').size() * (df.loc[0, 'spend'] / prd.resample('M').size().sum())
prd

2018-01    28.246014
2018-02    25.512528
2018-03    28.246014
2018-04    27.334852
2018-05    28.246014
2018-06    27.334852
2018-07    28.246014
2018-08    28.246014
2018-09    27.334852
2018-10    28.246014
2018-11    27.334852
2018-12    28.246014
2019-01    28.246014
2019-02    25.512528
2019-03    13.667426
Freq: M, dtype: float64

In [17]:
prd = pd.period_range(df.loc[0, 'start'], df.loc[0, 'end'], freq='D')
prd = pd.Series(1, prd) # empty series to get the number of days in the monthly period
prd = prd.resample('Q').size() * (df.loc[0, 'spend'] / prd.resample('Q').size().sum())
prd = prd.to_frame()
prd

                0
2018Q1  82.004556
2018Q2  82.915718
2018Q3  83.826879
2018Q4  83.826879
2019Q1  67.425968

In [8]:
prd = pd.period_range(df.loc[0, 'start'], df.loc[0, 'end'], freq='Q')
prd = pd.Series(1, prd) # empty series to get the number of days in the monthly period
prd = prd.resample('Q').size() * (df.loc[0, 'spend'] / prd.resample('Q').size().sum())
prd

2018Q1    80.0
2018Q2    80.0
2018Q3    80.0
2018Q4    80.0
2019Q1    80.0
Freq: Q-DEC, dtype: float64